body {
    color: black;
    background-color: gray;
    font-family: 'Arial'
}

ol {
    color: cornsilk;
    width: 600px;
    background-color: brown;
}

h1 {
    color: gold;
    text-align: center;
    word-spacing: 5px;
    font-family: Georgia, serif;
}
nav{
    color: aqua;
    text-align: center;
}
img{
    image-rendering: auto;
}

p {
    font-style: normal;
    text-align: justify;
    text-size-adjust: auto;
    background-color: rgb(31, 165, 189);
}

h3 {
    font-style: italic;
    text-transform: uppercase;
    font-family:  Helvetica;
}
.carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
#imagen {
    width: 100%;
    height: 400px;
    background-size: cover;
}