nav {
    background-color: gray;
    padding: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: yellow;
    padding: 8px;
  }
  
  nav a:hover {
    background-color: #ddd;
  }
  